/* Import Tailwind v4 */
@import "tailwindcss";

/* KONFIGURASI TEMA HACKER (Ganti tailwind.config.js) */
@theme {
  /* Custom Colors */
  --color-neuro-black: #050505;
  --color-neuro-dark: #0a0a0a;
  --color-neuro-green: #00ff41;
  --color-neuro-red: #ff003c;
  
  /* Custom Font */
  --font-mono: "Courier New", Courier, monospace;

  /* Custom Animations */
  --animate-pulse-fast: pulse 1.5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  --animate-spin-slow: spin 3s linear infinite;
}

/* SETTINGAN GLOBAL & EFEK CRT */
body {
  background-color: var(--color-neuro-black);
  color: var(--color-neuro-green);
  font-family: var(--font-mono);
  overflow-x: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: var(--color-neuro-dark); 
}
::-webkit-scrollbar-thumb {
  background: var(--color-neuro-green); 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #fff; 
}

/* EFEK MONITOR TABUNG (SCANLINES) */
body::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(
      rgba(18, 16, 16, 0) 50%, 
      rgba(0, 0, 0, 0.25) 50%
    ), 
    linear-gradient(
      90deg, 
      rgba(255, 0, 0, 0.06), 
      rgba(0, 255, 0, 0.02), 
      rgba(0, 0, 255, 0.06)
    );
  z-index: 50;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}